<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rong360.example.wrapper">

    <application>

        <activity android:name="com.rong360.example.wrapper.WrapperActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
